@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  --mainColor: #ccd5ae;
  --hoverColor: #b7bf9c;
  --backgroundColor: #fefae0;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

.dark {
  --mainColor: #ccd5ae;
  --hoverColor: #b7bf9c;
  --backgroundColor: #193e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}

*,
*::before,
* ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body,
textarea {
  font-family: "Poppins", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

#emphasis {
  color: var(--darkOne);
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 0rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: var(--darkTwo);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

a {
  color: var(--mainColor);
}

button {
  outline: none;
  text-decoration: none;
}

.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: var(--darkTwo) !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.btn-alt {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: var(--darkTwo) !important;
  background-color: var(--backgroundColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn-alt:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  /* position: relative; */
  position: fixed; 
  top: 20px; 
  right: 20px; 
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  /* height: 100vh; */
}

#hero {
  height: 100vh;
}


.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.skill-container div {
  
  padding: 10px;
  border-radius: 5px;
}

.skill-item {
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  background-color: var(--backgroundColor);
  margin: 10px;

}

.skill-item a {
  color: var(--darkOne)
}

.skill-item li {
  text-decoration: none;
  list-style-type:circle;
  text-align: left;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.text-alt {
  color: var(--darkOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.about-me-box {
  background-color: var(--backgroundColor);
  padding: 2rem;
  border-radius: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}

.about-me-box-alt {
  background-color: var(--mainColor);
  border: 10px solid var(--backgroundColor);
  border-radius: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.5rem;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.grid-item {
  padding: 5px;
  font-size: 1.1em;
  align-items: center;
}

.grid-item a {
  color: var(--lightOne);
}

.grid-item a:hover {
  color: var(--lightTwo);
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 103%;
  transform: translate(15%, 25px);
}

.about-image {
  width: 80%;
  transform: translate(-125%, -150px); 
  position: absolute;
}

.first-image {
  width: 80%;
  left: -30%; /* Move the first image to the left */
  top: -350px;
  z-index: 1;
}

.second-image {
  width: 80%;
  left: 10%; /* Move the first image to the left */
  top: -250px;
  padding-bottom: 20px;
  z-index: 3;
}

.third-image {
  width: 80%;
  left: -10%;
  top: -50px;
  z-index: 2;
}

.left {
  position: relative;
  width: 100%;
}

.project-area {
  /* background-image: url("browser.svg"); */
  /* background-size: 100%; */
  overflow-y: scroll;
  height: 800px;
  width: auto;
  margin: 2rem;
  margin-bottom: 4rem;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* z-index: 29; */
  border: 10px solid var(--darkOne);
  border-radius: 10px;
}

.browser-container {
  position: relative;
  /* z-index: 30; */
  height: 800px;
  margin-bottom: 3rem;
}

.projects {
  background-color: var(--backgroundColor);
}

.project-description {
  color: var(--darkOne);
  font-size: 1.1rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 800px;
  line-height: 2.3;
}

.skill-showcase {
  width: 80%;
  /* padding: 10rem 0 8.5rem; */
  background-color: var(--backgroundColor);
  padding: 5.5rem 4.5rem 2rem 4.5rem;
  display: grid;
  margin: 0 auto;
}

#skill-showcase-image {
  padding: 0rem;
}


.skill-showcase h1 {
  text-align: center;
}

.skill-showcase-alt {
  background-color: var(--mainColor);
  width: 80%;
  /* padding: 10rem 0 8.5rem; */
  padding: 5.5rem 4.5rem 2rem 4.5rem;
  display: grid;
  margin: 0 auto;
  border-radius: 10px;
}

.skill-showcase-alt h1 {
  text-align: center;
}

.page-not-found {
  width: 80%;
  /* padding: 10rem 0 8.5rem; */
  background-color: var(--backgroundColor);
  padding: 5.5rem 4.5rem 2rem 4.5rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;

}

.not-found-text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  width: 100%;
  line-height: 2.3;

}

.git-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
  align-items: center;
  margin-left: 1.5rem;
  align-items: center;
  justify-content: center;
}

.git-btn:hover {
  background: var(--mainColor);
}

.toggle-btn {
  display: inline-block;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  font-size: 1.1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 39px;
}

.toggle-btn:hover {
  background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
  display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.2;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

.section {
  padding: 7rem 0;
  overflow: hidden;
}


.contact {
  width: 100%;
  padding: 5rem 0 5rem;
  background-color: var(--mainColor);
}

.about {
    width: 100%;
    padding: 10rem 0 8.5rem;
    background-color: var(--mainColor);
}



.contact-box {
  width: 100%;
  background-color: var(--backgroundColor);
  border-radius: 45px;
  padding: 5.5rem 4.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info {
  padding-right: 2rem;
}

.contact-form {
  padding-left: 2rem;
}

.contact-info .title::after {
  left: 0;
  transform: initial;
}

.information-wrap {
  margin-top: 2rem;
}

.information {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}

.contact-icon {
  color: var(--darkTwo);
  min-width: 67px;
  height: 67px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--mainColor);
  text-align: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.contact-icon i {
  line-height: 67px;
}

.info-text {
  color: var(--darkTwo);
  font-size: 1.4rem;
  display: inline-block;
}

.contact-form .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-column-gap: 0.6rem;
}

.contact-input {
  padding: 1.2rem 2.1rem;
  margin: 0.6rem 0;
  border: none;
  outline: none;
  background: f3f3f3;
  border-radius: 4rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.3s;
}

.contact-input::placeholder {
  font-weight: 400;
  font-size: 1rem;
}

.contact-input.textarea {
  resize: none;
  min-height: 280px;
  border-radius: 2rem;
}

.contact-input:hover {
  background: #ececec;
}

.contact-input:focus {
  background: #eaeaea;
}

.contact-form .btn {
  margin-top: 0.6rem;
}

.bottom-area {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--mainColor);
}

.bottom-area .container {
  background-color: var(--mainColor);
}

.bottom-area-contact {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--mainColor);
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

#hero-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }
  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2rem 0;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    
  }
  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
    display: block;
    padding-bottom: 10px;
  }

  .showcase-area .text {
    text-align: center;
  }

  .skill-container {
    display: block;
    grid-template-columns: 2fr;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    
  }

  /* .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    
  } */

 #showcase-images {
    margin: 0rem auto; 
    padding: 0rem;
    overflow: hidden;
    min-height: auto ; 
  }

.third-item {
  display: none;
}

  .skill-showcase {
    width: 100%;
    margin: 0rem;
  }

  .skill-showcase-alt {
    width: 100%;
    margin: 0rem;    
  }

  /* .first-item {
    display: none;
  } */

  .second-item {
    display: none;
  }

 .browser-container {
  height: auto;
  margin-bottom: 1rem;
 }

 .project-area {
  height: 400px;
  margin: 1rem 0rem 0rem 0rem;
}

  .left, 
  .right {
    position: static; 
    width: 100%;
  }

.about {
    padding: 1rem;
  }

  .about-image {
    position: static;  
    left: auto;
    top: auto;
    transform: none;  
    margin-bottom: 1rem; 
  }


  .first-image {
    display: none; 
  }

  .second-image {
    display: block;  
    margin: 0 auto;  
    padding-bottom: 50px;
    width: 80%;  
    max-width: 100%;  
    position: relative;
    left: 0;  
    top: 0;   
  }
  .third-image {
    display: none;
  }

 .text-alt {
  text-align: center;
  font-size: 0.95rem;
 }

.grid-item {
  font-size: 0.95rem;
}

.project-description {
  margin-top: 2rem;
}



  .big-title {
    font-size: 1.1rem;
  }

  h1 {
    text-align: center;
  }

  .btn,
  .btn-alt {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  .text {
    font-size: 0.95 rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }

  .section {
    padding: 4.5rem 0;
  }

  .contact-box {
    grid-template-columns: 1fr;
    padding: 1.5rem 1.5rem;
  }

  .contact-info {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 0.5rem;
    font-size: smaller;
    text-align: center;
    max-width: 100%;
  }

  .form {
    max-width: 100%;
  }

  .contact-form {
    padding-left: 0;
    padding-top: 0.5rem;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
  }

  .information-wrap {
    margin-top: 0.7rem;
  }

  .information {
    margin-bottom: 0.8rem;
  }

  .contact-input.textarea {
    min-height: 220px;
  }

  .contact:before {
    height: 25%;
  }

  .contact:after {
    height: 75%;
    top: 25%;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}

.information {
  display: none;
}

@media screen and (max-width: 360px) {
  .contact-box {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-info {
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 1rem;
  }

  .information {
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 1rem;
    display: none;

  }

  .info-text {
    font-size: 15px;
  }

  .contact-icon {
    width: 10px;
  }

  .contact-form {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .form {
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    /* gap: 0.8rem; */
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .contact-input {
    width: 100%;
    max-width: 200px;
    padding: 0.8rem;
    text-align: center;
  margin: 10px auto;
  }

  .contact-input.textarea {
    min-height: 120px;
    text-align: center;
  }

}
